html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding-top: 3rem;
    color:rgb(227, 222, 232);
    background-color: #1a1a2e;

}

nav{
    width: 100%;
    position: fixed;
    top:0;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    height:3rem;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    background-color: black;
}

header{
    text-align: center;
}

.search{
    scroll-margin:5rem;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.city-name{
    width: 20rem;
    height: 2rem;
}


.submit{
    border:none;
    border-radius: 1rem;
    width: 5rem;
    height: 2rem;
    background-color: azure;
    cursor:pointer;
}

.submit:hover{
    background-color:rgb(171, 129, 212);
    
}


.heading{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: antiquewhite;
    gap:1rem;
}
#weather-details{
    scroll-margin: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color:black;
}
#weatherdetails{
    background: linear-gradient(to right, skyblue, rgb(112, 112, 240));
    border-radius: 1rem;
    padding: 1rem;
    transition: transform 0.3s;
}
#weatherdetails:hover{
    transform: scale(1.1);
}
.place-name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.formattedDate{
    font-weight: bold;
    
}
.icon-temp{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5rem;
}
.temp{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}
.desc{
    font-size: 2rem;
    text-align: center;
}
.other-det{
    margin-top: 2rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
    text-align: center;
    justify-content: center;
}
.content{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    color:black;
    background-color: rgb(220, 242, 252);
    gap:1rem;
}

.rows{
    text-align: center;
}
.error-message{
    color:Red;
    text-align:center;
}

.about{
    scroll-margin: 5rem;
    margin-top: 3rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 10rem;
}
.abouth{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Nimbus Mono PS', 'Courier New', monospace;    
}
.about-middle-card{
    border-radius: 1rem;
    text-align:center;
    color: black;
    background-color: rgb(199, 219, 228);
    transition: transform 0.3s;
    
}
.about-middle-card:hover{
    transform: scale(1.1);
}

footer{
    margin-top: 2rem ;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:rgb(227, 222, 232);
    margin-bottom: 4rem;
}

a{
    text-decoration: none;
    color:white;
    font-style: normal;
    font-size: 1.5rem;
}

a:visited{
    color:white;
}